#frontend
GOOGLE_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_API_URL=http://localhost:4000

#backend
NODE_ENV=development

APPLICATION_PORT=4000
APPLICATION_URL='http://localhost:${APPLICATION_PORT}'
ALLOWED_ORIGIN='http://localhost:3000'

COOKIES_SECRET='secret'
SESSION_SECRET='secret'
SESSION_NAME='session'
SESSION_DOMAIN='localhost'
SESSION_MAX_AGE='30d'
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER='sessions:'

POSTGRES_USER='postgres'
POSTGRES_PASSWORD='root'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432
POSTGRES_DB='cloudbox'

REDIS_USER='redis_user'
REDIS_PASSWORD='redis_password'
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_URI=redis://redis_user:redis_password@redis:6379

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

GOOGLE_RECAPTCHA_SECRET_KEY=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_CALLBACK_URL=

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=cloud-box-vault
S3_REGION=us-east-1

ADMIN_DEFAULT_EMAIL=admin@cloudbox.local
ADMIN_DEFAULT_PASSWORD=AdminCloudBox2026
